*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.menu1  {
    height: 15vh;
    font-weight: bold;
    position: absolute;
    top: 0;
    z-index: 3;
}

.menu2{
    height: auto;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 3;
    background-image: url(image/photo-15.jpg);
    background-size: cover;
    width: 100%;
    transition: 0.3s;
}


#menu a:hover{
    color: red !important ;
}

.logo{
    max-height: 80px;
    min-height: 20px;
    max-width: 350px;
    min-width: 100px;
}

#navbarSupportedContent{
    flex-grow: 0;
}

#carouselExampleIndicators .carousel-inner img{
    height: auto ;
}

.high {
    position: absolute;
    top: 30vh;
    left: 10vw;
    z-index: 2;
    color: white;
}

.high h1{
    font-size: 25;
}
.high p{
    font-size: 20px;
}

@media only screen and (max-width: 700px) {
    #menu .navbar .form-inline{
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    #header .high{
    display: none;
    }
}

/* Main 
*/

/* Service  */
#main .service {
    background-image: url(image/black-wallpaper-10.jpg);
    background-size: cover;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
#main .service img{
    width: 8vw;
    height: auto;
}

/* Danh muc */
#type{
    background-image: url(image/black-wallpaper-10.jpg);
    background-size: cover;
}
#type .titleAll{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}


#main #type .icon{
    font-size: 20px;
    text-align: center;
}
#main #type .multiple-items .item{
    height: auto;
    text-align: center;
    color: white;
}
#main #type .multiple-items .item img{
    padding-left: 10%;
    margin-bottom: 2%;
    object-fit: cover;
    width: 90%;
    height: auto;
    align-self: center;
}

#main #type .multiple-items .item:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}
#main #type .multiple-items .item:hover .title{
    background-color: #949475  ;
}


/* Sản phẩm hot */
#sphot{
    background-image: url(image/black-wallpaper-10.jpg);
}

#main #sphot .icon{
    font-size: 20px;
    text-align: center;
}
#main #sphot .multiple-items .item{
    height: 62vh;
    text-align: center;
    color: white;
}
#main #sphot .multiple-items .item img{
    object-fit: cover;
    width: 85%;
}

#main #sphot .multiple-items .item p {
    margin-bottom: 0;
}

#sphot .titleAll{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#main #sphot .multiple-items .item:hover img{
    width: 90%;
    transition: 0.7s;
}

#main #sphot .multiple-items .item .btn{
    opacity: 0 ;
    transform: translateY(-15px);
}

#main #sphot .multiple-items .item:hover .btn{
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
}

@media only screen and (max-width: 500px) {
    #main #sphot .multiple-items .item{
        height: auto;

    }
}

/* Video */
.video{
    background-image: url(image/black-wallpaper-10.jpg);
    width: 100%;
}

/* Footer */
#footer{
    background-image: url(image/footer-background.jpg);
}